GRAFANA_CLOUD_API_KEY=glc_... # your_key_here
GRAFANA_CLOUD_USERNAME=1111111 # Grafana Cloud username (it's a number)
PYROSCOPE_URL=https://profiles-example.grafana.net
PYROSCOPE_KEY=glc_... #ensure this key is valid for the Pyroscope service